{% extends "layout.njk" %}

{% import "parts/sections.njk" as section %}

{% block content %}

    {{section.search('Gerenciar receitas', 'bodyhead-recipes', 'Criar receita')}}
    {{section.recipes('', 'cards', recipes)}}

{% endblock %}