<!DOCTYPE html>

<html>

    <head>
        <title>Foodfy</title>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        
        <header>
            <div class="links">
                <a href="/" id="title">Foodfy</a>
                <a href="about.html">Sobre</a>
                <a href="recipes.html">Receitas</a>
            </div>
        </header>

        <div class="card-menu">
            <div class="card-info">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
            <div class="card-chef">
                <img src="/images/chef.png" alt="">
            </div>
        </div>
        
        <section class="card-plates">
            <h1>Mais acessadas</h1>

            <section class="plates">

                <div class="plate" id="burger">
                    <div class="plate-image">
                        <img src="images/burger.png" alt="Image">
                    </div>
        
                    <div class="plate-title">
                        <h1>Triplo Bacon Burger</h1>
                    </div>
        
                    <div class="plate-chef">
                        <p>por Jorge Relato</p>
                    </div>
                </div>
        
                <div class="plate" id="pizza">
                    <div class="plate-image">
                        <img src="images/pizza.png" alt="Image">
                    </div>
        
                    <div class="plate-title">
                        <h1>Pizza 4 estações</h1>
                    </div>
        
                    <div class="plate-chef">
                        <p>por Fabiana Melo</p>
                    </div>
                </div>
        
                <div class="plate" id="espaguete">
                    <div class="plate-image">
                        <img src="images/espaguete.png" alt="Image">
                    </div>
        
                    <div class="plate-title">
                        <h1>Espaguete ao alho</h1>
                    </div>
        
                    <div class="plate-chef">
                        <p>por Júlia Kinoto</p>
                    </div>
                </div>
        
        
                <div class="plate" id="lasanha">
                    <div class="plate-image">
                        <img src="images/lasanha.png" alt="Image">
                    </div>
        
                    <div class="plate-title">
                        <h1>Lasanha mac n' cheese</h1>
                    </div>
        
                    <div class="plate-chef">
                        <p>por Juliano Vieira</p>
                    </div>
                </div>
                
        
                <div class="plate" id="doce">
                    <div class="plate-image">
                        <img src="images/doce.png" alt="Image">
                    </div>
        
                    <div class="plate-title">
                        <h1>Docinhos pão-do-céu</h1>
                    </div>
        
                    <div class="plate-chef">
                        <p>por Ricardo Golvea</p>
                    </div>
                </div>
        
        
                <div class="plate" id="asinhas">
                    <div class="plate-image">
                        <img src="images/asinhas.png" alt="Image">
                    </div>
        
                    <div class="plate-title">
                        <h1>Asinhas de frango ao barbecue</h1>
                    </div>
        
                    <div class="plate-chef">
                        <p>por Vania Steroski</p>
                    </div>
                </div>

            </section>      

        </section>

        <div class="info-footer">
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </div>

    </body>

</html>