{% extends 'layout.njk' %}


{% block bodyhead %}
    <div class="menu-title-index">
        <div>Gerenciar receitas</div>            
        <div class="button-create"><a href="/admin/recipes/create">Criar Receita</a></div>
    </div>
{% endblock %}

{% block content %}

    <section class="cards">

        {% for recipe in recipes %}
            <div class="card">
                <div class="card-image">
                    <img src="{{recipe.image}}" alt="{{recipe.name}}">            
                </div>
                <div class="card-info">
                    <div class="recipe-title">{{recipe.title}}</div>
                    <div class="recipe-author">por {{recipe.author}}</div>
                    <div class="recipe-button"><a href="/admin/recipes/{{recipe.id}}">Visualizar</a></div>
                </div>            
            </div>
        {% endfor %}
            
    </section>

{% endblock %}