<!DOCTYPE html>

<html>

    <head>
        <title>Foodfy</title>
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        
        <header>
            <div class="links">
                <a href="/admin/recipes" id="title"><img src="/images/logo.png"></a>
            </div>
        </header>

        {% block content %}{% endblock %}


    </body>

</html>