{% extends "layout.njk" %}

{% block content %}

<div class="card-menu">
    <div class="card-info">
        <h1>As melhores receitas</h1>
        <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
    </div>
    <div class="card-chef">
        <img src="/images/chef.png" alt="">
    </div>
</div>

<section class="card-plates">
    <h1>Mais acessadas</h1>

    <section class="plates">

        {% for plate in plates %}
        <div class="plate" id="{{plate.id}}">
            <div class="plate-image">
                <img src="{{plate.image}}" alt="{{plate.title}}">
            </div>

            <div class="plate-title">
                <h1>{{ plate.title }}</h1>
            </div>

            <div class="plate-chef">
                <p>{{ plate.author }}</p>
            </div>
        </div>
        {% endfor %}

    </section>      

</section>

{% endblock %}
