{% extends "layout.njk" %}

{% block content %}

<section class="plates-recipes">

    {% for plate in plates %}
    <div class="plate-recipes" id="{{plate.id}}">
        <div class="plate-image">
            <img src="{{plate.image}}" alt="{{plate.title}}">
        </div>
        
        <div class="plate-name">
            <h1>{{ plate.title }}</h1>
            <p>{{ plate.author }}</p>
        </div>

        <div class="plate-ingredients">
            <h1>Ingredientes</h1>
            <span>esconder</span>
            <ul>
                {% for ingredient in plate.ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>

    </div>
    {% endfor %}

</section> 

<script src="/scripts.js"></script>
        
{% endblock %}