{% extends "layout.njk" %}

{% block content %}

<section class="plates-recipes">

    <div class="plate-recipes" id="{{plate.id}}">
        <div class="plate-image">
            <img src="{{plate.image}}" alt="{{plate.title}}">
        </div>
        
        <div class="plate-name">
            <h1>{{ plate.title }}</h1>
            <p>{{ plate.author }}</p>
        </div>

        <div class="plate-ingredients">
            <span>Ingredientes</span>
            <span><button>esconder</button></span>
            <ul>
                {% for ingredient in plate.ingredients %}
                    <li>{{ ingredient }};</li>
                {% endfor %}
            </ul>
        </div>

        <div class="plate-preparation">
            <span>Modo de preparation</span>
            <span><button>mostrar</button></span>
            {% for tip in plate.preparation %}
                <p> {{ tip }} </p>
            {% endfor %}
        </div>

        <div class="plate-information">
            <span>Informações</span>
            <span><button>esconder</button></span>
            <p>{{ plate.information }}</p>
        </div>

    </div>

</section>

<script src="/scripts.js"></script>

        
{% endblock %}