{% extends "layout.njk" %}

{% block bodyhead %}

    <div class="menu-title">
        <div>Receita: {{recipe.title}}</div>
        <div><a href="">Editar Receita</a></div>
    </div>    

{% endblock %}

{% block content %}

<section class="recipes-menu">

    <div class="recipe-recipes" id="{{recipe.id}}">
        <div class="recipe-image">
            <img src="{{recipe.image}}" alt="{{recipe.title}}">
        </div>
        
        <div class="recipe-name">
            <h1>{{ recipe.title }}</h1>
            <p>por {{ recipe.author }}</p>
        </div>

        <section class="recipe-content">
            <h3>Ingredientes <button class="visibility">ESCONDER</button></h3>
            <div class="recipe-info">
                <ul>
                    {% for ingredient in recipe.ingredients %}
                        <li>{{ ingredient }};</li>
                    {% endfor %}
                </ul>
            </div>

            <h3>Modo de preparo <button class="visibility">MOSTRAR</button></h3>
            <div class="recipe-info hide">
                {% for tip in recipe.preparation %}
                    <p>- {{ tip }}; </p>
                {% endfor %}
            </div>

            <h3>Modo de preparo <button class="visibility">ESCONDER</button></h3>
            <div class="recipe-info">
                <p>{{ recipe.information }}</p>
            </div>

        </section>
    </div>

</section>

<script src="/scripts.js"></script>

        
{% endblock %}