{% extends "layout.njk" %}


{% block content %}

<div class="formhead-recipes">
    <div>Criando receita</div>
    <div>
        <button form="form-create" id="button-create" class="button" type="submit">Criar Receita</button>
    </div>
</div>

<form id="form-create" class="recipes-input" action="/admin/recipes" method="POST" enctype="multipart/form-data">

    <div class="fields">
        {% include 'recipes/fields.njk' %}
    </div>
            
</form>

{% endblock %}