{% extends "layout.njk" %}

{% block content %}

<div class="formhead-recipes">
    <div>Editando receita</div>            
    <div class="buttons-edit">
        <button form="form-delete" id="button-delete" class="button" type="submit">Deletar</button>
        <button form="form-edit" id="button-edit" class="button" type="submit">Salvar</button>
    </div>
</div>

<div class="forms-edit">

    <form id="form-edit" class="recipes-input" method="POST" action="/admin/recipes?_method=PUT" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{recipe.id}}">
        <div class="fields">
            {% include 'recipes/fields.njk' %}
        </div>
    </form>

    <form id="form-delete" method="POST" action="/admin/recipes?_method=DELETE">
        <input type="hidden" name="id" value="{{recipe.id}}">
        {% include 'confirm.njk' %}
    </form>

</div>

{% endblock %}