<div class="item">
    <div>Imagem da Receita</div>
    <input 
        type="url" 
        name="image"
        value="{{recipe.image}}"
        placeholder="http://"
    >
</div>

<div class="item">
    <div>Título da Receita</div>
    <input 
        type="text" 
        name="title"
        value="{{recipe.title}}"
    >
</div>

<div class="item">
    <div>Chef</div>
    <select name="chef_id">
        {% for chef in chefsOptions %}
            <option value="{{chef.id}}"
            {%if recipe.chef_id == chef.id %}selected{%endif%}>
                {{chef.name}}
            </option>
        {% endfor %}
    </select>
</div>


<div class="item">
    <div>Ingredientes</div>
    <div id="ingredients">
        {% if recipe.ingredients %}
            {% for ingredient in recipe.ingredients %}
                <div class="box-ingredient">
                    <input 
                        type="text" 
                        name="ingredients[]" 
                        value="{{ ingredient }}" 
                        placeholder="Ingrediente"
                    >
                </div>
            {% endfor %}
        {% else %}
            <div class="box-ingredient">
                <input 
                    type="text" 
                    name="ingredients[]" 
                    placeholder="Ingrediente"
                >
            </div>
        {% endif %}
    </div>
    <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
</div>

<div class="item">
    <div>Modo de preparo</div>
    <div id="preparation-method">
        {% if recipe.preparation %}
            {% for preparation in recipe.preparation%}
                <div class="box-preparation">
                    <input 
                        type="text" 
                        name="preparation[]" 
                        value="{{ preparation }}" 
                        placeholder="Modo de preparo"
                    >
                </div>
            {% endfor %}
        {% else %}
            <div class="box-preparation">
                <input 
                    type="text" 
                    name="preparation[]" 
                    placeholder="Modo de preparo"
                >
            </div>
        {% endif %}
    </div>
    <button type="button" class="add-preparation">Adicionar novo passo</button>
</div>

<div class="item">
    <div>Informações adicionais</div>
    <textarea name="information" cols="30" rows="10">{{recipe.information}}</textarea>
</div>

