{% extends 'layout.njk' %}


{% block content %}

    <div class="bodyhead-recipes">
        <div>Gerenciar receitas</div>
        <div>
            <div class="filter">
                <form action="/admin/recipes" method="GET">
                    <input 
                        type="text" 
                        name="filter"
                        value="{{filter}}"
                        placeholder="Buscar uma receita"
                    >
                    <button class="button" type="submit">Buscar</button>
                </form>
            </div>
            <div>
                <a class="button" href="/admin/recipes/create">Criar Receita</a>
            </div>
        </div>            
    </div>

    <section class="cards">

        {% for recipe in recipes %}
            <div class="card">
                <div class="card-image">
                    <img src="{{recipe.image}}" alt="{{recipe.name}}">            
                </div>
                <div class="card-info">
                    <div class="recipe-title">{{recipe.title}}</div>
                    <div class="recipe-author">por {{recipe.chef}}</div>
                    <div class="recipe-button"><a href="/admin/recipes/{{recipe.id}}">Visualizar</a></div>
                </div>            
            </div>
        {% endfor %}
            
    </section>

{% endblock %}