{% extends "layout.njk" %}

{% block content %}

<div class="bodyhead-recipes">
    <div>Receita: {{recipe.title}}</div>
    <div><a class="button" href="/admin/recipes/{{ recipe.id }}/edit">Editar Receita</a></div>
</div>    

<div class="recipe" id="{{recipe.id}}">

    <div class="gallery">
        <div class="highlight">
            {% if not files[0] %}
                <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO" />
            {% else %}
                <img
                    src="{{files[0].src}}"
                    alt="{{files[0].name}}"
                    onclick="Lightbox.open()"
                >
            {% endif %}

            <div class="lightbox-target">
                <img src="{{files[0].src}}" alt="{{files[0].name}}">
                <a 
                    href="#"
                    class="lightbox-close"
                    onclick="Lightbox.close()"
                    >
                    <i class="material-icons">close</i>
                </a>
            </div>

        </div>

        <div class="gallery-preview">
            {% for image in files %}
                <img
                    src="{{image.src}}"
                    alt="{{image.name}}"
                    {% if loop.index0 == 0 %}
                        class="active"
                    {% endif %} 
                    onclick="ImageGallery.setImage(event)"   
                >
            {% endfor %}
        </div>

    </div>
    
    <div class="recipe-name">
        <h1>{{ recipe.title }}</h1>
        <p>por <a href="/admin/chefs/{{recipe.chef_id}}">{{ recipe.chef }}</a></p>
    </div>

    <section class="recipe-content">
        <h3>Ingredientes <button class="visibility">ESCONDER</button></h3>
        <div class="recipe-info">
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li>- {{ ingredient }};</li>
                {% endfor %}
            </ul>
        </div>

        <h3>Modo de preparo <button class="visibility">MOSTRAR</button></h3>
        <div class="recipe-info hide">
            <ul>
                {% for tip in recipe.preparation %}
                    <li>- {{ tip }};</li>
                {% endfor %}
            </ul>
        </div>

        <h3>Informações adicionais <button class="visibility">ESCONDER</button></h3>
        <div class="recipe-info">
            <p>{{ recipe.information }}</p>
        </div>

    </section>
</div>

<script src="/scripts/gallery.js"></script>
        
{% endblock %}