@import "https://fonts.googleapis.com/css?family=Bellota:400,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

:root {
    --color-green: #50fa7b; 
    --color-rocket: #7159c1;
    --color-salmao: #FBDFDB;
    --color-preto: #111111;
    --color-cinza: #777777;
    --color-footer: #eeeeee;
    --color-recipe: rgba(54, 51, 51, 0.8);
}

* {
    margin:0;
    border:0;
    padding:0;
    
}

body {
    background-color: white;
    font-family: "Roboto-Bold", sans-serif;
    color: var(--color-preto);
}

header{
    background-color: var(--color-preto);
    height: 80px;
}

header img {
    padding: 27px 0 27px 240px;
}

.card-content {
    width: 960px;
    margin: 70px auto;
}

.card-content h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-content .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card-content .cards .card {
    max-width: 480px;
    display: grid;
    grid-template-columns: 1fr 60%;
}

.card-image img {
    width: 172px;
    height: 80px;
    border-radius: 8px;
}

.card-info .plate-title {
    font-size: 18px;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    color: var(--color-preto);
    margin-bottom: 5px;
}

.card-info .plate-author {
    font-size: 14px;
    font-family: 'Roboto-Regular', sans-serif;
    color: var(--color-cinza);
    margin-bottom: 10px;
}

.card-info .plate-button a {
    text-decoration: none;
    color: #6558C3 100%;
    font-family: 'Roboto-Bold', sans-serif;
}










/* === SHOW.NJK (RECIPES/:id) === */

.menu-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 55px 0 24px 0;
}

.menu-title div {
    display: grid;
}

.menu-title div:first-child {
    font-size: 24px;
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: bold;
    color: var(--color-preto);
}

.menu-title div:last-child {
    position: relative;
}

.menu-title div:last-child a{
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    right: 0;
    background: #6558C3 100%;
    color: #FFFFFF;
    padding: 8px 20px;
    border-radius: 4px;
}

.recipes-menu {
    width: 940px;
    margin: 0 auto;
    display: grid;
}

.plate-recipes img{
    width: 940px;
    margin: 0 auto;
    height: 280px;
    border-radius: 15px;
}

.plate-name {
    text-align: center;
    margin-top: 24px;
}

.plate-name h1 {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 2px;
    color: var(--color-preto);
}

.plate-name p {
    font-size: 16px;
    color: var(--color-cinza);
}

.recipe-content h3 {
    padding-top: 30px;
}

.recipe-content h3 {
    font-size: 20px;
}

.recipe-content button {
    font-size: 10px;
    margin-left: 8px;
    background: #6558C3 100%;
    color: #FFFFFF;
    padding: 1px 4px;
    border-radius: 4px;
    cursor: pointer;   
}

.recipe-content ul {
    padding-left: 20px;
}

.recipe-info {
    margin-top: 15px;
}
.recipe-info li,
.recipe-info p {
    padding-bottom: 8px;
}

/* === HIDE BUTTON === */

.recipe-info {
    visibility: visible;
}

.recipe-info.hide {
    visibility: hidden;
    height: 0;
}
