@import "https://fonts.googleapis.com/css?family=Bellota:400,700&display=swap";
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

:root {
    --color-green: #50fa7b; 
    --color-rocket: #7159c1;
    --color-salmao: #FBDFDB;
    --color-preto: #111111;
    --color-cinza: #777777;
    --color-footer: #eeeeee;
    --color-recipe: rgba(54, 51, 51, 0.8);
    --color-button: #6558C3;
}

* {
    margin:0;
    border:none;
    padding:0;
    
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    color: var(--color-preto);
}

/* === HEADER === */

header{
    background-color: var(--color-preto);
    padding: 27px;
    margin-bottom: 50px;
}

header .container {
    display: flex;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
}

/* === LOGO === */

.logo img {
    width: 90px;
    height: 27px;
    margin-right: 50px;
}

/* === HEADER .LINKS === */

header .container .links {
    display: flex;
    grid-gap: 30px;
}

header .container .links a {
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
/* === INDEX.NJK === */


.menu-title-index {    
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 940px;
    margin: 0 auto 40px;
    position: relative;
}

.menu-title-index div:first-child,
.menu-title div:first-child {
    font-size: 24px;
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: bold;
    color: var(--color-preto);
}

.menu-title-index div:last-child a,
.menu-title div:last-child a,
.menu-title button[type="submit"] {
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    right: 0;
    background: var(--color-button) 100%;
    color: #FFFFFF;
    padding: 8px 20px;
    border-radius: 4px;
}

.cards {
    width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.cards .card {
    max-width: 480px;
    display: grid;
    grid-template-columns: 1fr 60%;
}

.card-image img {
    width: 172px;
    height: 80px;
    border-radius: 8px;
}

.card-info .recipe-title {
    font-size: 18px;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    color: var(--color-preto);
    margin-bottom: 5px;
}

.card-info .recipe-author {
    font-size: 14px;
    font-family: 'Roboto-Regular', sans-serif;
    color: var(--color-cinza);
    margin-bottom: 10px;
}

.card-info .recipe-button a {
    text-decoration: none;
    color: #6558C3 100%;
    font-family: 'Roboto-Bold', sans-serif;
}

/* === SHOW.NJK (RECIPES/:id) === */

.menu-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 940px;
    margin: 0px auto 50px;
    position: relative;
}

.recipes-menu {
    width: 940px;
    margin: 0 auto;
    display: grid;
}

.recipe-recipes img{
    width: 940px;
    margin: 0 auto;
    height: 280px;
    border-radius: 15px;
}

.recipe-name {
    text-align: center;
    margin-top: 24px;
}

.recipe-name h1 {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 2px;
    color: var(--color-preto);
}

.recipe-name p {
    font-size: 16px;
    color: var(--color-cinza);
}

.recipe-content h3 {
    padding-top: 30px;
}

.recipe-content h3 {
    font-size: 20px;
}

.recipe-content button {
    font-size: 10px;
    margin-left: 8px;
    background: var(--color-button) 100%;
    color: #FFFFFF;
    padding: 1px 4px;
    border-radius: 4px;
    cursor: pointer;   
}

.recipe-content ul {
    padding-left: 20px;
}

.recipe-info {
    margin-top: 15px;
}
.recipe-info li,
.recipe-info p {
    padding-bottom: 8px;
}

/* === HIDE BUTTON === */

.recipe-info {
    visibility: visible;
}

.recipe-info.hide {
    visibility: hidden;
    height: 0;
}

/* === CREATE.NJK === */

.recipes-input .item,
.chefs-input .item {
    width: 940px;
    margin: 0 auto 16px;
}

.recipes-input .item input,
.chefs-input .item input {
    width: 100%;
    height: 32px;
    border: 1px solid #DDDDDD;
    font-size: 16px;
    margin: 8px auto 16px;
    border-radius: 4px;
    padding: 0 8px;
}

.recipes-input .item button,
.chefs-input .item button {
    background: var(--color-button) 100%;
    color: #FFFFFF;
    padding: 2px 6px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 16px;
}


/* === FORM-DELETE === */

.forms-edit {
    max-width: 940px;
    margin: 0 auto;
}

#form-delete,
.forms-edit .recipes-input,
.forms-edit .chefs-input {
    position: relative;
}

#form-delete button[type="submit"] {
    width: 10%;
    font-size: 16px;
    padding: 8px 20px;
    box-sizing: border-box;
    background: lightcoral;
    color: #FFFFFF;
    border-radius: 4px;
    position: absolute;
    right: 180px;
    top: -70px;
}

.forms-edit .recipes-input button[type="submit"],
.forms-edit .chefs-input button[type="submit"] {
    width: 16%;
    font-size: 16px;
    padding: 8px 20px;
    box-sizing: border-box;
    background: var(--color-rocket);
    color: #FFFFFF;
    border-radius: 4px;
    position: absolute;
    right: 0;
    top: -70px;
    cursor: pointer;
}


/* === CHEFS INDEX.NJK ===*/

.chef-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.chef-card {
    width: 230px;
    display: grid;
    grid-template-columns: 64px 1fr;
    grid-gap: 20px;
    align-items: center;
}

.chef-card .chef-avatar img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 2px 2px 2px -1px;   
}

.chef-card .card-info div:first-child h1{
    font-size: 16px;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: normal;
    color: var(--color-preto);
    margin-bottom: 8px;
    align-items: center;
}

.chef-card .card-info div:last-child a {
    color: var(--color-button);
    font-size: 14px;
    font-weight: bold;
    align-items: center;
}

/* === CHEFS SHOW.NJK ===*/

.container .chef-info {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.chef-image img {
    height: 200px; 
    width: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.chef-name h1 {
    color: var(--color-preto);
    font-size: 36px;
    font-weight: bold;
}
