@import "https://fonts.googleapis.com/css?family=Bellota:400,700&display=swap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

:root {
    --color-green: #50fa7b; 
    --color-rocket: #7159c1;
    --color-salmao: #FBDFDB;
    --color-preto: #111111;
    --color-cinza: #777777;
    --color-footer: #eeeeee;
    --color-recipe: rgba(54, 51, 51, 0.8);
}

* {
    margin:0;
    border:0;
    padding:0;
    
}

body {
    background-color: white;
    font-family: "Roboto-bold";
    color: var(--color-preto);

}

header {
    max-width: 72.5%;
    margin: 50px auto;

}

header div a {
    color: black;
    text-decoration: none;
    font-size: 22px;
    line-height: 32px;
}

.links a[id="title"] {
    font-size: 28px;
    line-height: 38px;
    font-weight: lighter;
    margin-right: 120px;
    margin-left: 8px;
}

header div a + a + a{
    margin-left: 30px;
}

.links a:hover {
    color: var(--color-green);
    transition: color 500ms;
}

.card-menu {
    max-width: 72.5%;
    height: 366px;
    margin: 0 auto;
    background-color: var(--color-salmao);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-menu .card-info {
    text-align: left;
    max-width: 320px;
    margin: 0 auto;
    margin-top: 20px;
}

.card-info h1 {
    margin-top: 70px;
}

.card-info p {
    margin-top: 15px;
}

.card-chef {
    text-align: center;
    margin-top: 60px;
}

.card-plates {
    max-width: 72.5%;
    margin: 0 auto;
    height: 40%;
}

.card-plates h1 {
    margin-top: 40px;
    color: var(--color-cinza);
}

.plates {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;    
}

.plate-image img {
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    border-radius: 15px;
    margin-top: 24px;
    cursor: pointer;
}

.plate-title h1 {
    color: #111111;
    margin-top: 16px;
    font-size: 18px;
    line-height: 30px;
    font-weight: lighter;
}

.plate-chef p {
    color: var(--color-cinza);
    font-size: 14px;
    margin-top: 3px;
}

.info-footer {
    color: var(--color-cinza);
    background-color: var(--color-footer);
    width: 100%;
    height: 62px;
    opacity: 100%;
    text-align: center;
    margin-top: 50px;
    position: relative;
    bottom: -15vh;

}

.info-footer p {
    font-size: 14px;
    line-height: 24px;
    padding: 16px;
}

/* === ABOUT.HTML === */

.about-foodfy {
    max-width: 940px;
    margin: 0 auto;
}

.info-about h1 {
    margin-top: 50px;
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
}

.info-start h1,
.info-recipes h1 {
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}

.info-about p,
.info-start p,
.info-recipes p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 28px;
}

.info-about p + p,
.info-start p + p,
.info-recipes p + p {
    margin-top: 40px;
}

/* === MODAL === */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background-color: white;
    max-width: 660px;
    margin: 200px auto;
    height: 500px;
    border-radius: 16px;
    position: relative;
}

.close-modal {
    position: absolute;
    bottom: 10px;
    left: 320px;
}

.modal-content img {
    width: 90%;
    margin: 0 auto;
    position: absolute;
    left: 32px;
    top: 5%;
    border-radius: 15px;
}


/* === RECIPES.NJK === */

.plates-recipes {
    width: 72.5%;
    margin: 0 auto;
}

.plate-recipes img{
    align-items: center;
    width: 100%;
    height: 340px;
}

.plate-name {
    text-align: center;
    margin-top: 24px;
}

.plate-name h1 {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 2px;
    color: var(--color-preto);
}

.plate-name p {
    font-size: 16px;
    color: var(--color-cinza);
}

.recipe-content h3 {
    padding-top: 30px;
}

.recipe-content h3 {
    font-size: 20px;
}

.recipe-content button {
    font-size: 10px;
    margin-left: 8px;
    
}

.recipe-content ul {
    padding-left: 20px;
}

.recipe-info {
    margin-top: 15px;
}
.recipe-info li,
.recipe-info p {
    padding-bottom: 8px;
}

/* === HIDE BUTTON === */

.recipe-info {
    visibility: visible;
}

.recipe-info.hide {
    visibility: hidden;
    height: 0;
}
