{% extends "layout.njk" %}



{% block content %}
    <form class="chefs-input" action="/admin/chefs" method="POST">

        {% block formhead %}

            <div class="menu-title">
                <div>Criando chef</div>
                <button type="submit">Criar Chef</button>
            </div>    

        {% endblock %}

        {% include 'chefs/fields.njk' %}
               
    </form>

    <script src="/scripts.js"></script>


{% endblock %}