{% extends "layout.njk" %}


{% block content %}

<div class="formhead">
    <div>Criando chef</div>
    <div>
        <button form="form-create" id="button-create" class="button" type="submit">Salvar Chef</button>
    </div>
</div>

<form id="form-create" class="chefs-input" action="/admin/chefs" method="POST" enctype="multipart/form-data">

    <div class="fields">
        {% include 'chefs/fields.njk' %}
    </div>
            
</form>

{% endblock %}