{% extends "layout.njk" %}

{% block content %}

<div class="formhead">
    <div>Editando chef</div>
    <div class="buttons-edit">
        <button form="form-delete" id="button-delete" class="button" type="submit">Deletar</button>
        <button form="form-edit" id="button-edit" class="button" type="submit">Salvar</button>
    </div>
</div>

<div class="forms-edit">

    <form id="form-edit" class="chefs-input" method="POST" action="/admin/chefs?_method=PUT">
        <input type="hidden" name="id" value="{{chef.id}}">
        <div class="fields">
            {% include 'chefs/fields.njk' %}
        </div>
    </form>

    <form id="form-delete" method="POST" action="/admin/chefs?_method=DELETE">
        <input type="hidden" name="id" value="{{chef.id}}">
        {% include 'confirm.njk' %}
    </form>

</div>

{% endblock %}