<div class="item">
    <div>Nome</div>
    <input 
        type="text" 
        name="name"
        value="{{chef.name}}"
    >
</div>

<div class="item">
    <div>Avatar</div>
    <input 
        type="url" 
        name="avatar_url"
        value="{{chef.avatar_url}}"
        placeholder="http://"
    >
</div>