<div class="item">
    <div>Nome</div>
    <input 
        type="text" 
        name="name"
        value="{{chef.name}}"
    >
</div>

<div class="item">
    <div>Avatar</div>
    <div>

        <div id="photo-preview"></div>

        <div id="photo-upload">
            <input
                id="photo-input"
                type="file"
                name="photo"
                accept="image/*"
                onchange="ChefPhoto.upload(event)"
            >
            Enviar Avatar
        </div>

    </div>
</div>

<script src="/scripts/chefScripts.js"></script>