<div class="item">
    <div>Nome</div>
    <input 
        type="text" 
        name="name"
        value="{{chef.name}}"
    >
</div>

<div class="item">
    <div>Avatar</div>
    <div>

        <div id="photo-preview">

            {% if files %}

                {% for image in files %}
                    <div class="chef-photo" id="{{image.id}}">
                        <img src="{{image.src}}" alt="{{image.name}}">
                        <i 
                            class="material-icons"
                            onclick="ChefPhoto.removeOldPhoto(event)">
                            delete
                        </i>
                    </div>            
                {% endfor %}

                <input type="hidden" name="removed_files">
                
            {% endif %}

        </div>

        <div id="photo-upload">
            <input
                id="photo-input"
                type="file"
                name="photo"
                accept="image/*"
                onchange="ChefPhoto.upload(event)"
            >
            Enviar Avatar
        </div>

    </div>
</div>

<script src="/scripts/chefScripts.js"></script>