{% extends "layout.njk" %}
{% import "parts/sections.njk" as section %}

{% block content %}

<div class="bodyhead">
    <div>Chef: {{chef.name}}</div>
    <div><a class="button" href="/admin/chefs/{{chef.id}}/edit">Editar Chef</a></div>
</div>    

<div class="chef-info">
    <div class="chef-image">
        <img src="{{chef.image}}" alt="{{chef.name}}">
    </div>
    <div class="chef-name">
        <h1>{{chef.name}}</h1>
    </div>
    <div class="chef-recipe_amount">
        {% if chef.recipes_amount > 1 %}
            <span>{{chef.recipes_amount}} receitas</span>
        {% else %}
            <span>{{chef.recipes_amount}} receita</span>
        {%endif%}
    </div>
</div>

<div>
    <h3>Receitas</h3>
</div>

{{section.recipes('', 'cards', recipes)}}
            
{% endblock %}