{% extends 'layout.njk' %}

{% import "parts/sections.njk" as sections %}

{% block content %}

<div class="formhead user-edit">
    <div>Atualizar Usuário</div>
    {% if admin %}
        <div class="buttons">
            <button form="form-delete" id="button-delete" class="button">Deletar</button>
            <button form="form-edit" id="button-save" class="button" type="submit">Salvar</button>        
        </div>
    {% else %}
        {% if user.is_admin %}
            <div class="buttons">
                <a href="/admin/users" class="button">Lista de Usuários</a>
                <button form="form-edit" id="button-save" class="button" type="submit">Salvar</button>
            </div>
        {% else %}
            <div class="buttons" style="display: block; align-items: end;">
                <button form="form-edit" id="button-save" class="button" type="submit">Salvar</button>
            </div>
        {% endif %}
    {% endif %}

</div>

<section class="user-register form">

    {% if admin %}

        <form id="form-edit" method="POST" action="/admin/users/?_method=PUT">
            <input type="hidden" name="id" value="{{user.id}}">
            <div class="fields">
                {% include 'user/fields.njk' %}
            </div>
        </form>
        
        <form id="form-delete" method="POST" action="/admin/users/?_method=DELETE">
            <input type="hidden" name="id" value="{{user.id}}">
            {{sections.confirm('Deseja deletar?')}}
        </form>

    {% else %}

        <form id="form-edit" method="POST" action="/admin/profile/?_method=PUT">
            <input type="hidden" name="id" value="{{user.id}}">
            <div class="fields">
                {% include 'user/profile-fields.njk' %}
            </div>
        </form>

    {% endif %}

</section>

{% endblock %}