:root {
    --color-green: #50fa7b; 
    --color-rocket: #7159c1;
    --color-salmao: #FBDFDB;
    --color-preto: #111111;
    --color-cinza: #777777;
    --color-footer: #eeeeee;
    --color-recipe: rgba(54, 51, 51, 0.8);
    --color-button: #6558C3;
    --color-delete: #DC4747;
    --button-color: #ec470d;
    --color-border: #DDDDDD;
}

* {
    margin:0;
    border:none;
    padding:0;
    
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}

html, body {
    min-height: 100vh;
}

body {
    font-family: "Roboto", sans-serif;
    
    background-color: white;
    color: var(--color-preto);
    
    /* colocando o footer fixo no fundo das páginas */
    display: flex;
    flex-direction: column; 
}

.container {
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
}

.button {
    background-color: var(--color-button);
    color: white;

    display: block;
    margin: 8px 0;
    padding: 8px 24px;
    
    width: 100%;
    max-width: 240px;
    border-radius: 4px;
    
    /* para colocar o botão para baixo */
    align-self: end;
    
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
    text-align: center;

    cursor: pointer;

    transition: all 0.2s;
}

footer{
    /* footer fixado através do margin-top: auto */
    margin-top: auto; 

    background-color: var(--color-preto);
    color: white;
    text-align: center;

    font-size: 12px;
    padding: 16px 32px;
}


/* === HEADER === */

header{
    font-family: 'Roboto-Regular', sans-serif;

    background-color: var(--color-preto);
    padding: 24px 0;
    margin-bottom: 50px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container #left-header{
    display: flex;
    align-items: center;
}

header .container .logo img {
    width: 80px;
    height: 24px;
    margin-right: 50px;
}

header .container .links {
    display: flex;
    grid-gap: 24px;
}

header .container .links a,
header .container #right-header a{
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

header .container .links a:hover,
header .container .links a.active {
    color: var(--color-rocket);
}

/* === CHEFS BODYHEAD === */

.bodyhead,
.formhead {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-bottom: 32px;
}

.bodyhead div:first-child,
.formhead div:first-child,
.menu-title div:first-child {
    font-size: 22px;
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: bold;
    color: var(--color-preto);
    letter-spacing: .7px;
}

.bodyhead div:last-child,
.formhead div:last-child,
.formhead button[id="button-create"] {
    justify-self: end;
}

/* === CHEFS FORMHEAD BUTTONS-EDIT === */

.formhead .buttons-edit,
.formhead-recipes .buttons-edit {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 10px;
}

.formhead .buttons-edit #button-delete,
.formhead-recipes .buttons-edit #button-delete {
    background-color: var(--color-cinza);
    transition: 400ms;
}

.formhead .buttons-edit #button-delete:hover,
.formhead-recipes .buttons-edit #button-delete:hover {
    background-color: var(--color-delete);
}

/* === CHEFS INDEX.NJK === */

.chef-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 6px;
    margin: 30px auto;
}

.chef-card {
    width: 230px;
    display: grid;
    grid-template-columns: 64px 1fr;
    grid-gap: 20px;
    align-items: center;
}

.chef-card .chef-avatar img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 2px 2px 2px -1px rgba(60, 60, 60, 0.7);   
}

.chef-card .card-info div:first-child h3{
    font-size: 12px;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: bold;
    color: var(--color-rocket);
    margin-bottom: 6px;
    align-items: center;
    letter-spacing: 0px;
}

.chef-card .card-info p {
    color: var(--color-cinza);
}

.chef-card .button {
    padding: 2px 4px;
    max-width: 80px;

    font-size: 10px;
    text-transform: uppercase;
}


/* === CHEFS SHOW.NJK ===*/

.container .chef-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 30px auto;
}

.chef-image img {
    height: 200px; 
    width: 200px;
    border-radius: 50%;
    margin-bottom: 8px;

    object-fit: cover;

    border: 1px solid #efefef;
    box-shadow: 0px 0px 2px 1px rgba(63, 63, 63, .7);
}

.chef-name h1 {
    color: var(--color-preto);
    font-size: 32px;
    font-weight: bold;
}

.container div h3 {
    color: var(--color-preto);
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 16px;
}

/* ==================================    RECIPES    ================================== */

/* === RECIPES BODYHEAD === */

.bodyhead-recipes,
.formhead-recipes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-bottom: 32px;
}

.bodyhead-recipes div:first-child,
.formhead-recipes div:first-child,
.menu-title div:first-child {
    width: 100%;
    font-size: 22px;
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: bold;
    color: var(--color-preto);
    letter-spacing: .7px;
}

.bodyhead-filter{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    align-items: center;
    justify-content: center;
}

.bodyhead-recipes div:last-child a.button{
    min-width: 120px;
}

.bodyhead-recipes div:last-child,
.formhead-recipes div:last-child,
.formhead-recipes div:last-child .button,
.formhead-recipes button[id="button-create"] {
    justify-self: end;
}

/* === FILTER INDEX.NJK === */

.filter form input {
    border: 1px solid var(--color-footer);
    padding: 8px 16px;
    max-width: 180px;
}
/* 
.filter button[class="button"] {
    max-width: 60px;
} */

/* === RECIPES INDEX.NJK === */

.cards {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
.cards .card {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.card .card-image img {
    width: 160px;
    height: 80px;
    border-radius: 4px;

    border: 1px solid var(--color-border);
    box-shadow: 2px 2px 4px -2px rgba(60, 60, 60, 0.7);

    object-fit: all;
}

.cards .card .card-info {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.card .card-info .recipe-title {
    font-size: 18px;
    font-weight: normal;
    color: var(--color-preto);
}

.card .card-info .recipe-author {
    font-size: 12px;
    font-family: 'Roboto-Regular', sans-serif;
    color: var(--color-cinza);
}

.card .card-info .recipe-author a {
    color: var(--color-cinza);
    font-size: 14px;
}

.card .card-info .recipe-author a:hover {
    color: var(--color-rocket);
    cursor: pointer;
}

.card .card-info .recipe-button a {
    background-color: var(--color-rocket);
    color: white;

    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;

    padding: 2px 6px;
    border-radius: 2px;
    align-items: center;
    justify-content: end;
}

/* === SHOW.NJK (RECIPES/:id) === */

.recipe-name {
    text-align: center;
    margin-top: 16px;
}

.recipe-name h1 {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 2px;
    color: var(--color-preto);
}

.recipe-name p,
.recipe-name p a {
    font-size: 16px;
    color: var(--color-cinza);
}

.recipe-name p a:hover {
    color: var(--color-button);
    font-weight: bold;
}

.recipe-content h3 {
    padding-top: 16px;
    font-size: 16px;
}

.recipe-content button {
    font-size: 8px;
    letter-spacing: .7px;
    margin-left: 2px;
    background: var(--color-button) 100%;
    color: #FFFFFF;
    padding: 2px 4px;
    border-radius: 4px;
    cursor: pointer;
}

.recipe-info ul li,
.recipe-info p {
    color: var(--color-cinza);
    padding-bottom: 2px;
}

/* === HIDE BUTTON === */

.recipe-info {
    visibility: visible;
}

.recipe-info.hide {
    visibility: hidden;
    height: 0;
}

/* === FIELDS.NJK (RECIPES/CHEFS) === */

form .fields {
    margin-bottom: 36px;
}

form .item{
    margin: 16px auto;
}

form .item > div:nth-child(1) {
    font-size: 14px;
    font-weight: bold;
    color: #444;
    text-transform: capitalize;

    margin-bottom: 8px;
}

form .item input[type="text"],
form .item input[type="number"],
form .item input[type="url"],
form .item textarea,
form .item select {
    width: 100%;

    padding: 8px 16px;
    margin: 4px auto;

    box-shadow: 2px 2px 2px -2px rgba(63, 63, 63, .7);

    border: 1px solid #efefef;
    border-radius: 4px;

    font-size: 16px;
}

form .item select {
    /* permitir estilizacao no select */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    /* trazer de volta o icone lateral */
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to top, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

form .item textarea {
    min-height: 150px;
}

form .item button[class="add-ingredient"],
form .item button[class="add-preparation"] {
    background-color: var(--color-cinza);
    color: white;
    padding: 4px 8px;
    margin: 2px auto;
    border-radius: 2px;
    font-size: 12px;
    transition: 400ms;
}

form .item button[class="add-ingredient"]:hover,
form .item button[class="add-preparation"]:hover {
    background-color: var(--color-button);
}

/* === PHOTOS UPLOAD === */

form .item #photos-upload{
    position: relative;

    display: block;
    overflow: hidden;

    width: 150px;
    height: 150px;

    border: 1px solid var(--color-border);
    border-radius: 2px;
    box-shadow: 2px 2px 2px -2px rgba(63, 63, 63, .7);

}

form .item #photos-upload input {
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    overflow: hidden;

    width: 100%;
    height: 100%;

    opacity: 0;
}

form .item #photos-upload i {
    width: 100%;
    height: 100%;

    display: grid;
    align-items: center;
    justify-content: center;

    font-size: 300%;
    color: #777;
}

form .item #photos-preview {
    display: flex;
    gap: 16px;
    width: 100%; 
}

form .item #photos-preview .photo {
    position: relative;
}

form .item #photos-preview .photo img {
    width: 150px;
    height: 150px;

    border: 1px solid var(--color-border);
    border-radius: 2px;
    box-shadow: 2px 2px 2px -2px rgba(63, 63, 63, .7);

    object-fit: cover;
}

form .item #photos-preview .photo i {
    position: absolute;
    top: 0;
    right: 0;
    
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 300%;
    cursor: pointer;

    color: red;
    background-color:  rgba(255, 255, 255, 0.7);

    opacity: 0;

    transition: opacity 400ms;
}

form .item #photos-preview .photo:hover i {
    opacity: 1;
}

/* CHEF PHOTO UPLOAD */

form .item #photo-upload {
    position: relative;

    display: block;
    overflow: hidden;

    background-color: var(--color-rocket);
    color: white;
    width: 100%;
    max-width: 120px;

    border-radius: 4px;

    margin: 8px 0;
    padding: 8px 12px;
    
    font-size: 12px;
    font-weight: bold;
    text-transform: none;
    text-align: center;
    letter-spacing: 0.7px;

    
    transition: all 0.2s;
}

form .item #photo-upload input {
    position: absolute;
    top: 0;
    right: 0;
    
    display: block;
    overflow: hidden;
    
    width: 100%;
    height: 100%;
    
    opacity: 0;
    cursor: pointer;
}

form .item #photo-preview {
    display: flex;
    width: 100%;
    margin: 8px 0;
}

form .item #photo-preview .chef-photo {
    position: relative;
}

form .item #photo-preview .chef-photo img {
    width: 150px;
    height: 150px;

    object-fit: cover;

    border: 1px solid #efefef;
    box-shadow: 2px 2px 2px -2px rgba(63, 63, 63, .7);
    border-radius: 2px;
}

form .item #photo-preview .chef-photo i {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 300%;
    color: red;
    background-color: rgba(255, 255, 255, 0.7);

    opacity: 0;
}

form .item #photo-preview .chef-photo i:hover {
    opacity: 1;
}

/* ----------------------------------------------------- */

/* === RECIPES FORM-DELETE === */

.forms-edit {
    max-width: 940px;
    margin: 0 auto;
}

#form-delete,
.forms-edit .recipes-input,
.forms-edit .chefs-input {
    position: relative;
}

#form-delete button[type="submit"] {
    width: 10%;
    font-size: 16px;
    padding: 8px 20px;
    box-sizing: border-box;
    background: lightcoral;
    color: #FFFFFF;
    border-radius: 4px;
    position: absolute;
    right: 180px;
    top: -70px;
}

.forms-edit .recipes-input button[type="submit"],
.forms-edit .chefs-input button[type="submit"] {
    width: 16%;
    font-size: 16px;
    padding: 8px 20px;
    box-sizing: border-box;
    background: var(--color-rocket);
    color: #FFFFFF;
    border-radius: 4px;
    position: absolute;
    right: 0;
    top: -70px;
    cursor: pointer;
}

/* === SHOW.NJK RECIPES === */

/*  GALLERY IMAGES */

.recipe .gallery {
    width: 100%;
}

.recipe .highlight {
    width: 100%;
    margin: 0 auto;
}

.recipe .highlight img {
    width: 100%;
    height: 280px;
    
    border: 1px solid var(--color-border);
    border-radius: 2px;
    box-shadow: 2px 2px 2px -1px rgba(60, 60, 60, 0.7);

    object-fit: cover;
    object-position: 50% 50%;

    cursor: zoom-in;
}


.recipe .gallery-preview {
    display: flex;
    gap: 4px;
    justify-content: end;
}

.recipe .gallery-preview img {
    width: 50px;
    height: 50px;

    border: 1px solid #DDDDDD;
    border-radius: 4px;
    box-shadow: 2px 2px 2px -1px rgba(60, 60, 60, 0.7);

    object-fit: cover;
    object-position: 50% 50%;
    
    opacity: 0.6;

    cursor: pointer;

    transition: 400ms;
}

.recipe .gallery-preview img.active,
.recipe .gallery-preview img:hover  {
    opacity: 1;
}

/* LIGHTBOX PRODUCT GALLERY */

.recipe .highlight .lightbox-target {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);

    overflow: hidden;
    z-index: 100;

    top: -100%;
    left: 0;
    opacity: 0;

    transition: opacity 400ms;
}

.recipe .highlight .lightbox-target img {
    margin: auto;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);

    width: 90%;
    height: 90%;

    object-fit: contain;
}

.recipe .highlight .lightbox-close {
    width: 50px;
    height: 50px;
    
    background: white;

    position: absolute;
    top: -80px;
    right: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 800ms;
}