/*  ================== LOGIN / SESSION ================== */
:root {
    --color-link: #969696;
    --color-rocket: #6558C3;
}

/* ==== HEADER LOGIN ==== */

.header-login,
.header-forgot,
.header-reset {
    background-color: white;
    padding: 35px 0;
}

.header-login .container a,
.header-forgot .container a,
.header-reset .container a {
    color: black;
    font-family: 'Bodoni Moda', sans-serif;
    
    font-size: 28px;
    text-align: center;
    padding: 2px;

    letter-spacing: 1.65px;

    width: 100px;
    margin: 0px auto 60px;

    transition: ease-in-out 400ms;
}

/* ==== LOGIN FORM ==== */

.login.container.form,
.forgot.container.form,
.reset.container.form {
    width: 100%;
    max-width: 500px;
}

.login.container.form .formhead-login h3, 
.forgot.container.form .formhead-forgot h3,
.reset.container.form .formhead-reset h3 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    
    margin-bottom: 36px;
}

.login.container.form form .fields, 
.forgot.container.form form .fields,
.reset.container.form form .fields {
    margin-bottom: 32px;
}

.login.container.form form .item input[type="password"],
.reset.container.form form .item input[type="password"] {
    width: 100%;

    padding: 8px 16px;
    margin: 4px auto;

    box-shadow: 2px 2px 2px -2px rgba(63, 63, 63, .7);

    border: 1px solid #efefef;
    border-radius: 4px;

    font-size: 16px;
}

.login.container.form .footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.forgot.container.form .footer ul li,
.reset.container.form .footer ul li{
    position: absolute;
    right: 0;
}

.login.container.form .footer ul li a:first-child {
    color: var(--color-link);
    font-weight: bold;
}

.login.container.form .footer ul li a:first-child:hover {
    color: var(--color-rocket);
}


