/*  ================== USER REGISTER ================== */

:root {
    --color-error: #e74c3c;
    --color-black: #111111;
    --color-gray: #777777;
    --color-rocket: #6558C3;
    --color-remove: #F55A5A;
    --color-delete: #DC4747;
}

/* FORMHEAD */
.formhead.user-create,
.formhead.user-edit {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-bottom: 32px;
}

.formhead.user-create div:first-child,
.formhead.user-edit div:first-child{
    font-size: 22px;
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: bold;
    color: var(--color-preto);
    letter-spacing: .7px;
}

.formhead.user-create div:last-child,
.formhead.user-create div[id="button-cancel"] {
    justify-self: end;
}

.formhead.user-create .buttons,
.formhead.user-edit .buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 10px;
}

.formhead.user-create .buttons #button-cancel {
    background-color: var(--color-cinza);
}

.formhead.user-create .buttons #button-cancel a {
    color: white;
}

.formhead.user-create .buttons #button-cancel:hover {
    background-color: var(--color-delete);
    transition: 1400ms;
}

/* FORMHEAD EDIT */

.formhead.user-edit .buttons #button-delete {
    background-color: var(--color-delete);
}

/* FIELDS */

.user-register.form .fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 0px 40px;
}

.user-register.form .fields div{
    width: 100%;
}

.user-register.form .fields div#is_admin .input {
    display: flex;
    gap: 8px;
    align-items: center;
}

.user-register.form .fields input[type="password"]{
    width: 100%;

    padding: 8px 16px;
    margin: 4px auto;

    box-shadow: 2px 2px 2px -2px rgba(63, 63, 63, .7);

    border: 1px solid #efefef;
    border-radius: 4px;

    font-size: 16px;
}

/* validate errors */
.input .error {
    background-color: var(--color-error);
    padding: 4px;
    border-radius: 4px;
    color: white;
}

/* ==== USER INDEX / DASHBOARD ==== */

.formhead.user-index .button {
    width: 140px;
}

.formhead.user-index .button a{
    width: 100%;
    color: white;
}

.user-dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 52px;
    margin: 30px auto;
}

.user-dashboard .user-info .user-title {
    font-size: 18px;
    color: var(--color-black);
    margin-bottom: 4px;
}

.user-dashboard .user-info .user-email {
    font-size: 14px;
    color: var(--color-gray); 
    margin-bottom: 16px;   
}

.user-dashboard .user-buttons {
    display: flex;
    gap: 16px;
    align-items: center;
}

.user-dashboard .user-buttons div.user-edit a{
    font-size: 14px;
    color: var(--color-rocket);
    font-weight: bold;
}

.user-dashboard .user-buttons div.user-remove form button{
    font-size: 14px;
    color: var(--color-remove);
    background-color: white;
    font-weight: bold;
}

.user-dashboard .user-buttons div.user-edit a:hover {
    cursor: pointer;
}

.user-dashboard .user-buttons div.user-remove form button:hover {
    cursor: pointer;
}