<!DOCTYPE html>

<html>

    <head>
        <title>Foodfy</title>
        
        {% include 'parts/styles.njk' %}
        
    </head>

    <body>

        {% block header %}
            {% include 'parts/header.njk' %}
        {% endblock %}

        <section class="container">
            {% block content %}{% endblock %}
            <div class="margin-bottom-content" style="margin-bottom: 64px;"></div>
        </section>

        {% include 'parts/footer.njk' %}

    </body>

</html>