<!DOCTYPE html>

<html>

    <head>
        <title>Foodfy</title>
        
        {% include 'parts/styles.njk' %}
        
    </head>

    <body>
        <section class="header-menu">
            {% block header %}
                {% include 'parts/header.njk' %}
            {% endblock %}

            {% include 'parts/messages.njk' %}
        </section>

        <section class="container">
            {% block content %}{% endblock %}
            <div class="margin-bottom-content" style="margin-bottom: 64px;"></div>
        </section>

        {% include 'parts/footer.njk' %}

    </body>

</html>