<header>

    <div class="container">
        
        <div id="left-header">

            <a href="/">
                <div class="logo">
                    <img src="/images/logo.png" alt="">
                </div>
            </a>

            <div class="links">
                <a href="/admin/recipes">Receitas</a>
                <a href="/admin/chefs">Chefs</a>
                <a href="/admin/profile">Usuários</a>
            </div>

        </div>

        <div id="right-header">
            {% if session.userId %}
                <form method="POST" action="/admin/users/logout">
                    <button class="logout" type="submit">SAIR</button>
                </form>
            {% else %}
                <a href="/admin/users/login">Entrar</a>
            {% endif %}
        </div>

        <script src="/scripts/header.js"></script>

    </div>

</header>
