<header>

    <div class="container">
        <a href="/">
            <div class="logo">
                <h1>Foodfy</h1>
            </div>
        </a>

        <div class="links">
            <a href="/admin/recipes">Receitas</a>
            <a href="/admin/chefs">Chefs</a>
        </div>

    </div>

</header>
