{# DELETE MESSAGE #}

{% macro confirm(message) %}
<script>
    const formDelete = document.querySelector("#form-delete")
    formDelete.addEventListener("submit", (event) => {
        const confirmation = confirm('Deseja deletar?')
        if(!confirmation) {
            event.preventDefault()
        }
    })
</script>
{% endmacro %}


{# SEARCH #}

{% macro search(name, classes, search)%}

    <div class="{{classes}}">

        {% if name %}
            <div>{{name}}</div>
        {% endif %}

        <div class="bodyhead-filter">

            <div class="filter">
                <form id="form-filter" action="/recipes/search" method="GET">
                    <input 
                        type="text" 
                        name="filter"
                        placeholder="Buscar uma receita"
                        {% if search.term %}
                            value="{{search.term}}"
                        {% endif %}
                    >
                </form>
            </div>
            <div>
                <button form="form-filter" class="button" type="submit">Buscar</button>
            </div>
            <div>
                <a class="button" href="/admin/recipes/create">Criar Receita</a>
            </div>

        </div>            
    </div>

{% endmacro %}


{# RECIPES #}
{% macro recipes(name, classes, recipes) %}

    <section class="{{classes}}">

        {% for recipe in recipes %}
            <div class="card">
                <div class="card-image">
                    <img src="{{recipe.image}}" alt="{{recipe.name}}">            
                </div>
                <div class="card-info">
                    <div class="recipe-title">{{recipe.title}}</div>
                    <div class="recipe-author">por <a href="/admin/chefs/{{recipe.chef_id}}">{{recipe.chef}}</a></div>
                    <div class="recipe-button"><a href="/admin/recipes/{{recipe.id}}">Visualizar</a></div>
                </div>            
            </div>
        {% endfor %}
            
    </section>

{% endmacro %}

{# USERS #}
{% macro users(classes, users) %}
    <section class="{{classes}}">

        {% for user in users %}

            <div class="user-card">
                <div class="user-info">
                    <div class="user-title">{{user.name}}</div>
                    <div class="user-email">{{user.email}}</div>
                </div>

                <div class="user-buttons">
                    <div class="user-edit"><a href="/admin/users/{{user.id}}">Editar</a></div>
                    <div class="user-remove"><a href="/admin/users/{{user.id}}">Remover</a></div>
                </div>            
            </div>

        {% endfor %}
            
    </section>
{% endmacro %}